/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}


/* Container Section */
.container {
    height: 100vh;
    background-color: slateblue;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Digit-Container Section */
#digit-container span {
    color: white;
    font-size: 80px;
    display: flex;
    justify-content: center;
}


/* Button-Container Section */
.btn {
    margin: 10px;
    padding: 10px 20px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
}

#increment:hover {
    color: white;
    background-color: green;
}

#setZero:hover {
    color: white;
    background-color: blue;
}

#decrement:hover {
    color: white;
    background-color: red;
}